* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  max-width: 1440px;
  font-family: "Lato", sans-serif;
}

h1 {
  text-align: center;
  padding-bottom: 10px;
}
.content__form {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0 auto;
  max-width: 400px;
}
.content__checkbox {
  display: flex;
  width: 150px;
  margin: 0 auto;
  gap: 20px;
  font-size: 15px;
}
input {
  margin: 0 auto;
  width: 200px;
  padding: 10px;
}

.input-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.real_checkbox {
  width: 0;
  height: 0;
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.custom_checkbox {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  background: white;
  border: 2px solid #7e9bbd;
  border-radius: 4px;
  margin-right: 5px;
  vertical-align: sub;
}

.custom_checkbox::before {
  content: "";
  display: inline-block;
  width: 13px;
  height: 13px;
  background-image: url(./img/checkboxFlag.svg);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  margin-top: 1px;
  transition: 0.2s ease-in;
}

.real_checkbox:checked + .custom_checkbox::before {
  transform: translate(-50%, -50%) scale(1);
}
#content__button {
  border: none;
  border-radius: 30px;
  background-color: dodgerblue;
  color: #333;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
}

.error .input-field {
  display: block;
  margin-bottom: 10px;
  border-color: #d53032;
}

.input-err {
  border-color: #d53032;
}

.err-message {
  display: flex;
  flex-direction: column;
  color: #d53032;
  margin-top: 3px;
}

.symbols-err {
  border-color: #d53032;
}

.symbols-message {
  width: 200px;
  display: flex;
  flex-direction: column;
  color: #d53032;
  margin-top: 3px;
}

.psw-err {
  border-color: #d53032;
}
.repass-text {
  display: flex;
  flex-direction: column;
  color: #d53032;
  margin-top: 3px;
}
